<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>CIFAR-10 Classifier</title>
  <link rel="stylesheet" href="/static/style.css"> <!-- подключение css -->
  <style>
    body {
      font-family: sans-serif;
      margin: 40px;
      text-align: center;
    }
    form {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h2>📸 Загрузите изображение для классификации</h2>

  <form action="/predict" method="post" enctype="multipart/form-data">
    <label for="model">Выберите модель:</label>
    <select name="model_name" id="model">
      <option value="cnn">CNN</option>
      <option value="resnet">ResNet18</option>
    </select>

    <br><br>
    <input type="file" name="files" multiple accept="image/*">
    <button type="submit">Отправить</button>
  </form>
</body>
</html>
